<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <!-- 扫描数据库连接配置文件 -->
    <context:property-placeholder location="classpath:mybatis_db.properties"/>

    <!-- 配置一个dataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis_config.xml"/>

        <!-- 为 dao-mapper文件中的实体 定义缺省包路径, 如：<select id="queryAll" resultType="User"> 中 User类可以不定义包 -->
        <property name="typeAliasesPackage" value="com.share.charge.mybatis.generator.mapper"/>
    </bean>



    <!-- 开启将接口实例化成bean的方式放入IOC，用这个扫描有前提，前提就是接口名和xml名必须保持一致，并且在同一个包下面 -->
    <mybatis-spring:scan base-package="com.share.charge.mybatis.generator.mapper"/>
</beans>