<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<div th:fragment="editCharge(charge,updateApi)" >
    <form th:action="@{${updateApi}}" method="post">
        <label>id</label><input name="id" th:value="${charge.id}"><br/>
        <label>剩余电量</label><input type="number" name="powerLevel" th:value="${charge.powerLevel}"><br/>
        <label>所属机柜id</label><input type="number" name="cabinetId" th:value="${charge.cabinetId}"><br/>
        <label>借出状态</label><input th:value="${charge.borrowStatus}" readonly="true"/>
        <label>修改借出状态：</label>
        <select name="borrowStatus" >
            <option value="借出">借出</option>
            <option value="在柜">在柜</option>
            <option value="丢失">丢失</option>
        </select>
        <br/>
        <input type="submit" value="修改">
    </form>

    <script type="text/javascript" th:inline="javascript">
        function updatePassword(updateApi,userId)
        {
            var result=prompt("Please new password","")

            if (result!=null && result!="")
            {

                var url = updateApi+'/'+ userId +'/'+result;
                // console.log(url);
                window.location.href=url;
            }
        }
    </script>

</div>

<div th:fragment="currentPage(pageInfo)" >
    当前第[[${pageInfo.pageNum}]]页，共[[${pageInfo.pages}]]页，共[[${pageInfo.total}]]条记录
</div>


<!-- 分页导航条 -->
<div th:fragment="pagenation(url, pageInfo)" class="pagenation">

    <a th:href="@{${url}}">
        <span class="btn-page btn-default">首页</span>
    </a>
    <a th:href="@{${url}(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">
        <span class="btn-page btn-default">上一页</span>
    </a>

    <!--    遍历导航页-->
    <a th:each="page,pageStat:${pageInfo.navigatepageNums}"
       th:href="@{${url}(pageNum=${page})}">
        <span th:if="${page}==${pageInfo.pageNum}">
            <span class="btn-page btn-active" th:text="${page}"></span>
        </span>
        <span th:if="${page}!=${pageInfo.pageNum}">
            <span class="btn-page btn-default" th:text="${page}"></span>
        </span>
    </a>
    <!--    导航页-->

    <a th:href="@{${url}(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">
        <span class="btn-page btn-default">下一页</span>
    </a>
    <a th:href="@{${url}(pageNum=${pageInfo.pages})}">
        <span class="btn-page btn-default">尾页</span>
    </a>
</div>
</body>
</html>