<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis_db.properties"></properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="system"/>
        <package name="mapper"/>
    </typeAliases>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    <mappers>-->
<!--&lt;!&ndash;        <mapper resource="BookDaoMapper.xml"/>&ndash;&gt;-->
<!--        <package name="com.share.charge.mybatis.generator.mapper"/>-->
<!--        <package name="mapper"/>-->
<!--        &lt;!&ndash;        <mapper resource="system/SystemBooksInfoMapper.xml"/>&ndash;&gt;-->
<!--    </mappers>-->
</configuration>
