<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/list.css}"/>
</head>
<body>
<!--<p th:text="${pageInfo.list}"></p>-->
<a th:href="@{/admin/order}">刷新页面</a>
<div >
    <form th:action="@{/admin/order/search}" method="get">
        <label>筛选用户</label>
        <input type="text" name="guestId" th:value="${ORDER_SEARCH_GUESTID}"/>
        <input type="submit" value="筛选">
    </form>
</div>
<br/>
<div th:replace="templates/order/chargelist::
                pageList(${pageKeySet},${pageInfo},'/admin/order/update','/admin/order/delete')"></div>

<p th:text="${resultMessage}"></p>


<div th:replace="templates/order/chargelist::currentPage(${pageInfo})">
    page nation
</div>
<div th:replace="templates/order/chargelist::pagenation('/admin/order',${pageInfo})">
    page nation
</div>


</body>
</html>