<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.charge.mybatis.generator.mapper.OmsPriceListAscMapper">
  <resultMap id="BaseResultMap" type="com.share.charge.mybatis.generator.model.OmsPriceListAsc">
    <result column="min_time_seconds" jdbcType="BIGINT" property="minTimeSeconds" />
    <result column="max_time_seconds" jdbcType="BIGINT" property="maxTimeSeconds" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <insert id="insert" parameterType="com.share.charge.mybatis.generator.model.OmsPriceListAsc">
    insert into oms_price_list_asc (min_time_seconds, max_time_seconds, price
      )
    values (#{minTimeSeconds,jdbcType=BIGINT}, #{maxTimeSeconds,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.charge.mybatis.generator.model.OmsPriceListAsc">
    insert into oms_price_list_asc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="minTimeSeconds != null">
        min_time_seconds,
      </if>
      <if test="maxTimeSeconds != null">
        max_time_seconds,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="minTimeSeconds != null">
        #{minTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="maxTimeSeconds != null">
        #{maxTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>